@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
  background: #00a99f;
}

div{
margin:none;
}

#board {
  margin-top: -20px;
  margin-bottom: -20px;
}

h1 {
  font-size: 60px;
  color:#333A43;
  font-weight: bold;
  margin-top: 2px;
}

.box {
  border: 8px solid #333A43;
  cursor: pointer;
  font-size: 100px;
  height: 145px;
  padding-bottom: 150px;
  vertical-align: center;
  border-radius: .2em;
}

.X {
  color: #F2F3F4;
  background-color: #ABABAB;
}

.O {
  color: #ABABAB;
  background-color: #F2F3F4;
}

.btn-success:hover {
  background-color: #4ecdc4;
  border-color: #4ecdc4;
}